Twisted==22.10.0
beautifulsoup4==4.11.1
ipython==8.7.0
ipython-genutils==0.2.0
json5==0.9.6
jsonschema==4.17.3
lxml==4.9.2
numpy==1.24.1
pandas==1.5.3
scrapeops-scrapy==0.4.6
Scrapy==2.7.1
scrapy-proxy-pool==0.1.9
scrapy-redis==0.7.3
scrapy-rotating-proxies==0.6.2
scrapy-user-agents==0.1.1
urllib3==1.26.14
user-agents==2.2.0
virtualenv==20.16.4
w3lib==2.1.1
pymongo==4.4.1
selenium==4.11.2
scrapy-selenium==0.0.7
webdriver-manager==4.0.0
